@import url('https://fonts.googleapis.com/css2?family=Acme&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Anton&family=Boogaloo&family=Candal&family=Carter+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oleo+Script:wght@400;700&family=Pirata+One&family=Protest+Strike&display=swap');

* {
	padding       : 0;
	margin        : 0;
	color         : aliceblue;
	font-family   : 'boogaloo', sans-serif;
	letter-spacing: 1px;
	font-size     : 1.2rem;
}

@media screen and (min-width: 765px) {
	body {
		background-size: 150px;
	}
}

body {
	background-image   : url(../data_pengunjung/media/uwhs.jpg);
	background-size    : 200%;
	background-position: center;
}

h2 {
	font-family    : 'carter one', 'boogaloo', sans-serif;
	display        : flex;
	justify-content: center;
	font-weight    : 900;
	padding-bottom : 3rem;
}

section.content {
	background-color: rgba(0, 0, 0, 0.813);
	display         : flexbox;
	justify-content : center;
	align-content   : center;
	max-height      : max-content;
	height          : 44.8rem;
	position        : relative;
}

.area {
	display        : flexbox;
	justify-content: center;
}

form {
	display        : grid;
	flex-direction : column;
	justify-content: center;
}

.body-form {
	display       : flex;
	justify-self  : center;
	max-width     : max-content;
	padding-bottom: 1rem;
	margin-left   : 2rem;
	margin-right  : 2rem;
}

.form-label {
	display        : grid;
	justify-self   : center;
	justify-content: start;
	align-items    : end;
	width          : 10rem;
	padding-right  : 9px;
}

.form-control {
	font-family    : sans-serif;
	display        : flexbox;
	justify-content: flex-start;
	width          : 100%;

}

.button {
	display        : flex;
	justify-content: center;
	justify-self   : center;
	color          : rgb(255, 255, 255);
}

.sign-up {
	margin-top : 1rem;
}

.login {
	margin-top : 1rem;
}

.reg {
	margin-top           : 1.3rem;
	margin-left          : 1rem;
	color                : rgb(0, 208, 255);
	text-decoration      : none;
	text-underline-offset: 7px;
}

i {
	margin-top  : 1.3rem;
	padding-left: 10px;
	position    : relative;
	right       : -9px;
}

/* ===========FOOTER============= */
.footer {
	font-style      : italic;
	background-color: #000000ef;
	padding-top     : 22px;
	padding-bottom  : 12px;
	width           : 100%;
	display         : flex;
	align-items     : center;
	justify-content : center;
	position        : relative;
	bottom          : 0;
}

.footer p {
	position       : relative;
	display        : inline-flexbox;
	justify-content: center;
	align-items    : center;
	font-size      : 13px;
	color          : #545454;
	font-family    : sans-serif;
}

a.port {
	font-family          : 'boogaloo', sans-serif;
	text-decoration      : underline;
	text-underline-offset: 5px;
	color                : #01b5c9;
	padding-left         : 2px;
}

a.port:hover {
	transform    : translateY(-7px);
	border-radius: 3px;
	padding-left : 2px;
	font-style   : italic;
	color        : rgb(255, 255, 255);
	text-shadow  : 0 0 10px rgb(255, 255, 255);
}