<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../xlogin.css">
</head>
<body>
  <footer class="footer animate__animated animate__fadeInUp">
    <center>
      <p><i class="fa-solid fa-laptop-code"></i> &copy;2024/8/22 copyright<br>
        Design & Development by <a class="port" target="_blank" href="https://dwijatmiko77.github.io/my.portfolio/">
          Klik Here</a>
      </p>
    </center>
  </footer>
</body>
</html>